<div
  data-on:click="@post('../spellbook/cell/<%= cell.id %>')"
  id="<%= cell.id %>"
  style="
    position: absolute;
    top: <%= cell.y * cellSize %>px;
    left: <%= cell.x * cellSize %>px;
    border: 1px black solid;
    width: <%=cellSize %>px;
    height: <%=cellSize %>px;
    color: <%= cell.color %>;
  "
>
  <%= cell.id %>
</div>
