<div
  data-on:click="
  $cellSelected = <%= JSON.stringify(cell) %>;
  $isOpenEdit = $wandMode === 'EDIT';
  $isViewOpen = $wandMode === 'VIEW';
  "
  id="<%= cell.id %>"
  style="
    top: <%= cell.y * cellSize %>px;
    left: <%= cell.x * cellSize %>px;
    width: <%=cellSize %>px;
    height: <%=cellSize %>px;
    background-color: <%= cell.color %>;
  "
  class="cell"
>
  <%= cell.id %>
</div>
