<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <div id="map-messages">Map messages</div>
    <%- include('partials/wand') %>
    <div id="map-wrapper">
      <div id="map" data-init="@get('/spellbook/maps/<%- title %>')">
        Loading initial state...
      </div>
      <div data-signals="{cellSelected: undefined}">
        <%- include('partials/editCellSideBar') %> <%-
        include('partials/viewCellSideBar') %> <%-
        include('partials/editRegionSideBar') %>
      </div>
    </div>
    <div data-text="JSON.stringify($cellSelected)"></div>
    <%- include('partials/footer') %>
  </body>
</html>
